<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" >
        <script src="./js/app.js"></script>
        
    </head>

    <body>
        {{> header}}
        <img src="./img/cosmos-3.jpg">
        {{> footer}}
    </body>
</html>